:root,
html {
  box-sizing: border-box;
  --color-black: hsl(0, 0%, 0%, 1.0);
  --color-white: rgb(255, 255, 255);
  --color-primary: #303c4c;
  --color-primary-light: #5a6678;
  --color-primary-dark: #091624;
  --color-secondary: #f3f4f1;
  --color-secondary-dark: #c0c1be;
  font-family: 'Heebo', sans-serif;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48;
  cursor: pointer;
  display: flex;
  transition: transform 0.3s;
}

.button-hidden {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

body {
  background: var(--color-secondary-dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.main-header {
  background: var(--color-primary);
  height: 80px;
  display: flex;
  align-items: center;
}

.main-header .header-title-section {
  flex: 1;
}

.main-header .header-title {
  font-size: 2.5rem;
  padding-left: 2rem;
}

.main-header .header-project-section {
  padding-right: 2rem;
  color: white;
}

.header-project-section span:active {
  transform: scale(1.1);
}

.header-project-section span:hover {
  transform: scale(1.2);
}

.main-header label {
  font-size: 1rem;
}

.main-header select,
.main-header option {
  border: none;
  padding: 0.5em 2rem 0.5em 1rem;
  font-size: 1rem;
  font-weight: 800;
  color: white;
  background: var(--color-primary-light);
  outline: none;
  border-radius: 5px;
  transition: filter 0.3s;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -5 28 28' fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1em;
}

.main-header select:focus {
  outline: none;
}

.main-header select:hover {
  filter: brightness(110%);
}

.header-project-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-window {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(50% - 0.5rem) calc(50% - 0.5rem);
  padding: 1rem;
  gap: 1rem;
  min-height: 0;
  min-width: 0;
}

.main-window section {
  list-style: none;
  display: grid;
  grid-template-rows: 60px minmax(0, 1fr);
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 darkgray;
}

.section-header {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: var(--color-secondary);
  color: rgba(0, 0, 0, 0.783);
  font-size: 1.2rem;
  font-weight: 300;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section-header-title {
  flex: 1;
}

.new-entry-button-icon {
  font-size: 32px;
}

.new-entry-button-icon:hover {
  color: var(--color-primary-dark);
  font-variation-settings: 'FILL'1;
}

.todo-section {
  grid-row: span 2;
}

.todo-list> :nth-child(2n-1) {
  background: white;
}

.todo-list> :nth-child(2n) {
  background: #f3f3f3;
}

.todo-completed {
  background: rgb(209, 238, 212) !important;
}

.todo-entry {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  white-space: nowrap;
  transition: background-color 0.3s;
  color: rgba(0, 0, 0, 0.694);
  font-weight: 300;
  transition: filter 0.3s;
}

.todo-entry:hover,
.note-entry:hover {
  filter: brightness(92%);
  cursor: pointer;
}

.todo-entry-delete-button {
  padding-right: 2.2rem;
}

.todo-entry-complete-button {
  width: 24px;
}

.todo-entry-complete-button:hover {
  color: green;
  font-weight: 800;
}

.todo-entry-delete-button:hover,
.note-entry-delete-button:hover,
.checklist-entry-delete-button:hover,
.checklist-member-delete-button:hover {
  color: rgb(220, 80, 73);
}

.todo-entry-duedate {
  flex: 2;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.todo-entry-title {
  flex: 1;
  color: rgba(0, 0, 0, 0.767);
  font-weight: 400;
}

.priority-low,
.priority-normal,
.priority-high {
  width: 1.5rem;
  height: 100%;
  display: block;
}

.priority-low {
  background: #7dd3fc;
}

.priority-normal {
  background: #fef3c7;
}

.priority-high {
  background: #f87171;
}


.note-container {
  overflow-y: auto;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.note-entry {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px 0 #8b8b8b;
  background: var(--color-secondary);
  padding: 1rem;
  min-height: 150px;
  line-height: 1.4;
  border-radius: 0.5em;
  transition: filter 0.3s;
}

.note-entry:hover {
  cursor: pointer;
}

.note-entry-title {
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000a1;
}

.note-entry-content {
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.798);
  flex: 1;
}

.note-entry-delete-button {
  align-self: flex-end;
  width: min-content;
}

.checklist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
}

.checklist-entry {
  overflow: auto;
  min-height: 250px;
  box-shadow: 0 0 2px 0 #8b8b8b;
  border-radius: 0.5em;
}

.checklist-entry:hover {
  cursor: pointer;
}

.checklist-entry-title {
  padding: 1rem 1rem;
  background: var(--color-primary);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.checklist-member {
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.783);
  font-size: 0.9rem;
  transition: filter 0.3s;
}

.checklist-member:hover {
  filter: brightness(92%);
}

.checklist-entry-member-container> :nth-child(2) {
  background: #f3f3f3;
}

.checklist-member-content {
  flex: 1;
}

.entry-form-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 0.313);
  z-index: 1;
}

.entry-form-container {
  background: rgb(255, 255, 255);
  position: absolute;
  width: 400px;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgb(145, 145, 145);
}

form {
  display: grid;
  gap: 1rem;
  padding: 2rem;
}

form button {
  background: none;
  border: none;
  background: var(--color-primary);
  width: min-content;
  justify-self: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
}

form button:hover {
  background: var(--color-primary-dark);
  cursor: pointer;
}

form label {
  font-weight: 300;
}

form input,
textarea {
  font-family: sans-serif;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.534);
}

form h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.form-close-button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.form-hidden {
  display: none !important;
}

.new-entry-button-icon {
  cursor: pointer;
}

#todo-form fieldset {
  display: grid;
  place-content: center;
  grid-template-columns: min-content min-content;
  gap: 1rem;
}

#todo-form legend {
  margin-bottom: 1rem;
}

#note-form textarea {
  resize: none;
  height: 250px;
  line-height: 1.4;
}

#checklist-form-members-container {
  padding: 0.5rem;
  max-height: 350px;
  overflow: auto;
}

.checklist-form-members-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}

.checklist-form-member,
.checklist-form-default-member {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checklist-form-member-content {
  margin: 0.2rem 0;
  flex: 1;
}